# For advice on how to change settings please see
# http://dev.mysql.com/doc/refman/5.6/en/server-configuration-defaults.html

[client]
#password        = root
port            = 3306
socket          = /tmp/mysql.sock

[mysqld]
user = mysql
basedir = /usr/local/mysql-5.6.26
socket = /tmp/mysql.sock
pid_file = /tmp/mysql.pid
port = 3306
datadir = /database

skip-name-resolve
innodb_file_per_table=1
explicit_defaults_for_timestamp=true
character_set_server = gbk
join_buffer_size = 128M
sort_buffer_size = 24M
read_rnd_buffer_size = 24M 
key_buffer_size = 256M
query_cache_type = ON
query_cache_size = 128M
query_cache_limit = 8M
max_heap_table_size = 64M
tmp_table_size = 64M
table_open_cache = 2000

sql-mode = "NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
#sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES 
long_query_time = 2

innodb_buffer_pool_size= 1G
innodb_log_file_size = 128M
innodb_flush_log_at_trx_commit = 2

#default-storage-engine = MYISAM
#default-tmp-storage-engine = MYISAM
#innodb = OFF
#-----------------------------------------------

#server_id = 2
#read-only=1
#relay-log=relay-bin
#relay-log-index=relay-log.index
#log-slave-updates=true
#slave-parallel-workers=4
#binlog-format=mixed

#server_id = 2
#log-bin=mysql-bin.log
#log-bin-index=master-bin.index 
#skip-name-resolve
#binlog-format=mixed
#log-slave-updates=true
#slave-parallel-workers=4

#server_id = 1
#log-bin=mysql-bin.log
#skip-name-resolve
#sync_binlog=1
#binlog-format=ROW  
#log-bin-index=master-bin.index 
#log-slave-updates=true 
#sync-master-info=1  
#binlog-checksum=CRC32  
#master-verify-checksum=1  
#slave-sql-verify-checksum=1  
#binlog-rows-query-log-events=1  

#-----------------------------------------------
# Remove leading # to set options mainly useful for reporting servers.
# The server defaults are faster for transactions and fast SELECTs.
# Adjust sizes as needed, experiment to find the optimal values.

#-----------------------------------------------
#loose-innodb-trx=0 
#loose-innodb-locks=0 
#loose-innodb-lock-waits=0 
#loose-innodb-cmp=0 
#loose-innodb-cmp-per-index=0
#loose-innodb-cmp-per-index-reset=0
#loose-innodb-cmp-reset=0 
#loose-innodb-cmpmem=0 
#loose-innodb-cmpmem-reset=0 
#loose-innodb-buffer-page=0 
#loose-innodb-buffer-page-lru=0 
#loose-innodb-buffer-pool-stats=0 
#loose-innodb-metrics=0 
#loose-innodb-ft-default-stopword=0 
##loose-innodb-ft-inserted=0 
#loose-innodb-ft-deleted=0 
#loose-innodb-ft-being-deleted=0 
#loose-innodb-ft-config=0 
#loose-innodb-ft-index-cache=0 
#loose-innodb-ft-index-table=0 
#loose-innodb-sys-tables=0 
#loose-innodb-sys-tablestats=0 
#loose-innodb-sys-indexes=0 
#loose-innodb-sys-columns=0 
#loose-innodb-sys-fields=0 
#loose-innodb-sys-foreign=0 
#loose-innodb-sys-foreign-cols=0
